<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Главная</title>
</head>
<body>

<header th:insert="blocks/header_admin :: header"></header>


<div class="container text-center">
    <h1>Правила посещения фитнес клуба</h1>
    <p>1.1. На основании договора, заключенного между Сторонами, а именно «Фитнес клубом» и «Членом клуба» выполнение требований настоящего Приложения является обязательным (в тексте настоящих правил термин «Член клуба», «Фитнес клуб» обозначают стороны договора, а термин «Клуб» - территорию Фитнес клуба).</p>
    <p>1.2. В Фитнес клубе установлены правила («Правила Клуба»), обязательные для всех посетителей, гостей и Членов клуба. Предлагаем Вам внимательно ознакомиться с Правилами Фитнес клуба и придерживаться их. Цель Правил клуба – создание более безопасных, оптимально комфортных условий пребывания в клубе. В случае необходимости Правила Фитнес клуба могут быть пересмотрены или дополнены.</p>
    <p>1.3. Договор с Фитнес клубом оформляется менеджерами клуба, которые осуществляют знакомство с клубом, консультируют по видам и категориям оказываемых услуг в Фитнес клубе. Администратор либо менеджер Фитнес клуба вправе отказать посетителю или гостю Фитнес клуба в его оформлении как Члена клуба без объяснения причин такого отказа. Отказ в оформлении Членом клуба может быть обжалован Управляющему Фитнес клуба.</p>
    <p>1.4. Член клуба имеет право переоформить (переуступить) права и обязанности, вытекающие из заключенного с ним договора на другое лицо (если это предусмотрено условиями заключенного договора) в установленном порядке. За переоформление договора взимается плата согласно установленным тарифам.</p>
    <p>1.5. Членство в Фитнес клубе является персональным и не может быть передано или использовано другими лицами без переоформления Клубной карты. В случае временного отсутствия (замены/утери) Клубной карты у Члена клуба, доступ в Фитнес клуб осуществляется по предъявлению документа, удостоверяющего личность Члена клуба.</p>
    <p>1.6. При первом посещении Фитнес клуба Члену клуба настоятельно рекомендуется пройти инструктаж в тренажерном зале и в дальнейшем придерживаться рекомендаций инструкторов и персонала Фитнес клуба.</p>
    <p>1.7. Член клуба обязан соблюдать чистоту во всех помещениях Фитнес клуба, которые используются им до, во время и после тренировок.</p>

    <h3>2. НАХОЖДЕНИЕ В ФИТНЕС КЛУБЕ</h3>

    <p>2.1. Решение об участии во всех тренировках и иных мероприятиях Член клуба принимает самостоятельно. Фитнес клуб освобождается от ответственности за травмы и любой иной вред здоровью Члена клуба, в том числе в результате несчастных случаев, произошедших на территории клуба.</p>
    <p>2.2. Для обеспечения личной безопасности и безопасности других посетителей и Членов клуба любого рода упражнения с утяжелением в тренажерном зале рекомендуется выполнять в присутствии персонального инструктора.</p>
    <p>2.3. Фитнес клуб имеет право предоставить в аренду индивидуальный ящик по желанию Члена клуба (за предоставление которого взимается дополнительная плата, согласно прейскуранту), но в свою очередь также имеет право освободить его без уведомления арендатора, если задолженность по аренде превышает две календарные недели.</p>
    <p><b>2.4. Этикет в Фитнес клубе:</b></p>
    <p>- при входе в Фитнес клуб следует надевать бахилы или иную чистую сменную обувь.</p>
    <p>- после получения оказываемых услуг, вернуть взятый для получения услуг инвентарь, ключ от шкафа и полотенце администрации Фитнес клуба в тот же день.</p>
    <p><b>На территории Фитнес клуба запрещается:</b></p>
    <p>- курить в помещениях и на территории клуба;</p>
    <p>- пребывать в состоянии алкогольного, наркотического или иного токсического опьянения, а также употреблять непосредственно на территории клуба спиртные напитки, наркотики и неразрешенные медикаменты;</p>
    <p>- приносить с собой и хранить любой вид оружия;</p>
    <p>- громко и агрессивно разговаривать, использовать ненормативную лексику, мешать окружающим;</p>
    <p>- приносить любую пищу в тренировочную зону;</p>
    <p>- самостоятельно использовать музыкальную и другую аппаратуру Фитнес клуба;</p>
    <p>- входить на территорию, предназначенную только для служебного пользования, за исключением случаев, когда на это имеется специальное приглашение.</p>
    <p><b>2.5. Форма одежды:</b></p>
    <p>Для тренировок в Фитнес клубе необходимо иметь специально предназначенную для этого сменную обувь и одежду (при этом верхняя часть тела должна быть обязательно закрыта). В основном это футболки, майки, спортивные брюки, шорты, кроссовки, носки. Одежда должна быть чистая.</p>
    <p>В целях Вашей безопасности запрещается тренироваться босиком, в носках, в пляжных или домашних тапочках и т.п., исключение составляют специальные классы (например: йога и другие).</p>
    <p>Фитнес клуб имеет право не допускать Члена клуба на тренировку в обуви и одежде, не предназначенной для конкретного типа занятий.</p>
    <p><b>2.6. Личная гигиена:</b></p>
    <p>Необходимо соблюдать общие правила гигиены. Перед занятиями не рекомендуется использовать парфюмерию с резким запахом.</p>
    <p><b>2.7. Соблюдение тишины:</b></p>
    <p>На территории Фитнес клуба следует соблюдать тишину и элементарные правила поведения. Любые публичные акции, несогласованные с Администрацией Фитнес клуба - запрещены.</p>
    <p>Под публичными акциями мы понимаем распространение разного рода листовок, проведение рекламных акций в политических или иных коммерческих целях.</p>
    <p><b>2.8. Музыка в Фитнес клубе:</b></p>
    <p>В Фитнес клубе предусмотрено наличие современного музыкального оборудования, которое обеспечивает на тренировочных территориях музыкальное сопровождение. Выбор музыкальных произведений в Фитнес клубе осуществляется Администрацией.</p>
    <p><b>2.9. Групповые занятия:</b></p>
    <p>Групповые занятия проводятся по расписанию, которое может быть изменено, в случае такой необходимости Администрацией Фитнес клуба. Во избежание получения травм и создания опасных ситуаций необходимо приходить на групповые занятия без опозданий. Не рекомендуется приходить на тренировку через 10 минут после начала занятия. Инструктор имеет право не допустить Члена клуба на тренировку в случае его опоздания, при отсутствии свободных мест в зале и в других случаях, когда это может быть опасным для здоровья Членов клуба. После окончания тренировки необходимо вернуть спортивный инвентарь в специально отведенные для этого места.</p>
    <p>2.10. Фитнес клуб оставляет за собой право поменять заявленного в расписании по групповым занятиям инструктора и вносить изменения во все расписания занятий, при этом информация о производимых заменах и/или изменениях размещается на информационном стенде Фитнес клуба.</p>
    <p><b>2.11. Тренажерный зал:</b></p>
    <p>Оборудование может быть ограничено для пользования в любой момент (ремонт, профилактические работы или иные технические причины). После работы со свободными весами следует убирать отягощения со штанг, гантели ставить на гантельную стойку. При возникновении вопросов по использованию оборудования рекомендуется обратиться к дежурному инструктору тренажерного зала. Самостоятельные занятия детей в тренажерном зале разрешены с 15 летнего возраста с письменного разрешения родителей, предоставленного руководству клуба. С 15 до 16 лет занятия в тренажерном зале осуществляются только в присутствии персонального тренера.</p>
    <p>2.12. Каждому клиенту предусмотрена выдача двух полотенец. Рекомендуется бережно обращаться с предоставляемыми Фитнес клубом полотенцами. За утерю/порчу полотенца взимается штраф согласно установленным тарифам.</p>
    <p><b>2.13. Финские сауны:</b></p>
    <p>В финских саунах сухого пара влажность не превышает 10-25%, температура воздуха колеблется от 90-110 градусов.</p>
    <p>Членам клуба запрещается лить воду на печи саун или камни в печи, так как это может привести к поломке нагревательного элемента.</p>
    <p>Запрещено самостоятельно регулировать температуру саун.</p>
    <p>Запрещено приносить с собой в сауну и пользоваться скрабами, гелями, кремами, маслами и маслянистыми жидкостями, ароматическими добавками и другими косметическими средствами.</p>
    <p>При посещении сауны рекомендуется укрывать голову сухим полотенцем. Рекомендуемое время посещения сауны – не более 15 минут за один заход. Не рекомендуется делать более двух заходов в один день. Рекомендуемый перерыв между заходами составляет 15-20 минут.</p>
    <p>Противопоказано посещение саун людям с сердечно-сосудистыми, онкологическими заболеваниями, туберкулезом, бронхиальной астмой, эпилепсией, воспалительными процессами на коже и открытыми ранами.</p>

</div>



<div th:insert="blocks/footer :: footer"></div>


</main>

</div>
</body>
<body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>