<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Главная</title>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container text-center" >

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Наши контакты</h1>

            Режим работы:
            Понедельник-пятница с 07:00 до 22:00
            Суббота с 09:00 до 22:00
            Воскресенье с 09:00 до 22:00
            <br>
            Главный офис:
            г. Киев, ул. Маковского, 93
            <br>
            Телефоны:
            (+380) 99 999-70-80
            <br>
            Электронная почта:
            something@premierfit.com
            <br>
        </div>
    </div>


</div>

</body>
<body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>