<div th:fragment="header">

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">План тренировок на неделю</h1>
        <p class="fs-5 text-muted">Представленная в материале программа тренировок — пример тройного сплита для набора массы в тренажерном зале. Другими словами, программа подразумевает три мощных силовых тренировки в неделю, каждая из которых прорабатывает определенную группу мышц.

            Отметим, что подобная программа тренировок на массу подходит скорее продвинутым атлетам-мезоморфам, чем новичкам — поскольку используются не только базовые, но и изолирующие упражнения. Кроме этого, программа требует высокого уровня выносливости и опыта тренировок в зале.</p>
    </div>
    </header>

    <main>

        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">День 1</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">День 1<small class="text-muted fw-light">: грудь, бицепс, ноги</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Первый день программы тренировок подразумевает работу над двумя крупнейшими мышечными группами тела — грудью и ногами. Отметим, что при возможности ходить в тренажерный зал 4 раза в неделю, лучше выделить отдельную тренировку на ноги.</li>

                        </ul>
                        <form action="/admin/one">
                            <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Подробней</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">День 2</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">День 2<small class="text-muted fw-light">: Плечи, трицепс </small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Второй день программы тренировок акцентирован на верхней половине тела. Цель — проработка мышц, придающих фигуре массивность. Круглые и объемные плечи сделают фигуру шире, а большой трицепс увеличит объем рук, визуально расширяя бицепс.</li>
                        </ul>
                        <form action="/admin/two">
                            <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Подробней</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">День 3</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">День 3<small class="text-muted fw-light">: спина и пресс </small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Заключительный  день  тренировок  строится  на  проработке спины и пресса. Тяга верхнего блока и подтягивания развивают широчайшие мышцы спины, а тяга гантелей в наклоне и тяга блока к поясу сидя придает ей толщину. В программу тренировок может входить становая тяга.</li>
                        </ul>
                        <form action="/admin/three">
                            <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Подробней</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <main>

        <div class="container marketing">

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2><span class="text-muted">ДОБРО ПОЖАЛОВАТЬ В NONAME</span> </h2>
                    <p class="lead">
                        NoName – это фитнес-центр твоего результата. Именно здесь, на территории
                        5 000 кв.м. спорта, ты найдешь для себя все для достижения твой личной цели.
                        Твой путь будет интересен и местами непрост, но если ты рискнешь и начнешь
                        прямо сейчас – наградой тебе будет твоя лучшая версия себя!
                        Ты – о котором ты мечтал. Мы – за развитое здоровое тело,
                        за тех, кто активен и целеустремлен. День за днем развиваем
                        и совершенствуем свой бизнес, расширяя сеть и улучшая качество услуг.
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="https://www.be-bloggers.com/images/499/tr2.jpg" alt="" width="500" height="300">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2><span class="text-muted">Фитнес-центр №1</span></h2>
                    <p class="lead">
                        NoName FITNESS – динамично развивающаяся сеть по всей Украине.
                        Это уникальный проект. 5 000 кв.м. спорта объединяют в себе тренажерные залы,
                        функциональные зоны, залы фитнеса и единоборств, оборудованы финскими саунами,
                        фитнес барами и лаунж зонами, а также салонами красоты с полным спектром услуг,
                        необходимых современным клиентам мегаполисов. Мы первые, кто открывает перед Вами
                        такой масштаб с учетом финансовых возможностей наших клиентов! Мы гордимся тем,
                        что за короткое время смогли завоевать Ваше доверие!
                        Тысячи клиентов ценят дизайн и сервис фитнес центров.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="https://www.vladtime.ru/uploads/posts/2018-06/1530010161_gw9t93jhu3chl4t36m1in7w6v.jpg" alt="" width="500" height="300">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2><span class="text-muted">Высокотехнологичное оборудование</span></h2>
                    <p class="lead">
                        Новейшее высокотехнологичное оборудование (Interatletika X-Line, Interatletika Professional Line)
                        в сочетании с профессиональным подходом к каждому клиенту позволяют в кратчайшие сроки получить желаемый результат.
                        Приходите и посмотрите сами – Вы получите больше, чем ожидаете!</p>
                </div>
                <div class="col-md-5">
                    <img src="https://f.mixsport.pro/photo/13961/pR4lr.jpg" alt="" width="500" height="300">

                </div>
            </div>

            <hr class="featurette-divider">


        </div><!-- /.container -->

    </main>

</div>
